{{!-- Box representing a player on the game screen.
inputs:
- player: the player object
- points: the number of points the player has
- game: the game --}}
<div class="player-box card fs-3" style="height: 100%">
  <div class="card-body">
    <p>{{{formatPlayer player itemsMap}}}</p>
    <p class="text-center fs-1">{{points}}</p>

    {{#unless game.endedAt}}
    <div class="float-end">
      <form style="display:inline" action="/game/{{game.id}}/addPoint" method="post">
        <input type="hidden" name="playerId" value="{{player.id}}">
        <button type="submit"><tt>+</tt></button>
      </form>

      <form style="display:inline" action="/game/{{game.id}}/addPoint" method="post">
        <input type="hidden" name="playerId" value="{{player.id}}">
        <input type="hidden" name="double" value=1>
        <button type="submit"><tt>d</tt></button>
      </form>

      <form style="display:inline" action="/game/{{game.id}}/removePoint" method="post">
        <input type="hidden" name="playerId" value="{{player.id}}">
        <button type="submit"><tt>-</tt></button>
      </form>
    </div>
    {{/unless}}
  </div>
</div>